@model ServerCheckupLibrary.ICheckResult?

@if (Model == null)
{
    return;
}

@switch (Model.ResultContext)
{
    case ServerCheckupLibrary.Context.Success:
        <h2 class="text-success">Success</h2>
        break;
    case ServerCheckupLibrary.Context.Error:
        <h2 class="text-danger">Errors occurred</h2>
        break;
    case ServerCheckupLibrary.Context.Warning:
        <h2 class="text-warning">Issues occurred</h2>
        break;
    case ServerCheckupLibrary.Context.Info:
    default:
        break;
}

@if (Model.Messages.Count > 0)
{
    <ul class="list-group">
        @foreach (var message in Model.Messages)
        {
            @Html.DisplayFor(m => message)
        }
    </ul>
}
