@using CheckServerSetup.Checks
@using WebApp.Platform
@model ResultMessage?

@if (Model == null)
{
    return;
}

<li class="list-group-item list-group-item-@CssHelper.ContextSuffix(Model.MessageContext)">
    <div class="d-flex align-items-center">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="@Model.MessageContext.ToString():">
            <use xlink:href="#@Model.MessageContext.ToString()" />
        </svg>
        <div>
            @Model.Text
            @if (Model.Details != null)
            {
                <div class="text-muted">@Model.Details</div>
            }
        </div>
    </div>
</li>
