<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
        <ExcludeApp_Data>false</ExcludeApp_Data>
        <ProjectGuid>659FA51D-FF72-40C9-B4FA-272012D08B87</ProjectGuid>
        <MSDeployServiceURL>dev-geco.gaepd.org</MSDeployServiceURL>
        <DeployIisAppPath>Default Web Site/Checkup</DeployIisAppPath>
        <RemoteSitePhysicalPath/>
        <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>true</EnableMSDeployBackup>
        <UserName/>
        <_SavePWD>false</_SavePWD>
        <EnableMSDeployAppOffline>true</EnableMSDeployAppOffline>
        <SiteUrlToLaunchAfterPublish/>
        <SelfContained>false</SelfContained>
    </PropertyGroup>
</Project>
